
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecom</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
   
</head>
<body style="background-color: rgb(240, 255, 251);" >
 
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top mb-5 " style="font-family: Trirong, serif;">
        <a class="navbar-brand" href="#">Ecom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
          <div class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" style="color: aliceblue; font-family: Trirong, serif;font-size: 17px" role="button" data-toggle="dropdown" aria-expanded="false">

            {% if user.is_authenticated %}
              Welcome, {{ user.username }}
            {% else %}
              Welcome, Guest
            {% endif %}
            </a>
            <div class="dropdown-menu" style="font-family: Trirong, serif;">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/userlogout/">Logout</a>
            </div>
          </div>
      </nav>

  <p style="font-family: Trirong, serif; font: size 15px; display: flex; justify-content: flex-end; position:relative; top:6px;" class="mt-5 mr-1">Current Indian Time: <span id="indianTime"></span></p>

{% if  user.is_retailer %}
<!-- Add Modaal for the add product form -->
<div class="modal fade mt-5" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel" style="font-family: Trirong, serif">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" onclick="Cleardata()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- <div class="alert alert-danger alert-dismissible fade show mx-1 my-1" id="alertbtn" style="display: none;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span  aria-hidden="true">&times;</span>
        </button>
      </div>  -->
      
      <div class="alert alert-danger alert-dismissible fade show mx-1 my-1" id="alertbtn" style="display: none;" role="alert">

        <span id="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" onclick="Cleardata()" >&times;</span>
        </button>
      </div>
      
      
      <div class="modal-body" style="font-family: Trirong, serif ">
        <div class="form-group">
          <label for="productPicture">Product Picture:</label>
          <input type="file" class="form-control" id="picture" name="productpicture" accept="image/*" required>
        </div>

          <div class="form-group">
            <label for="productName">Prduct Name:</label>
            <input type="text" class="form-control" id="name" name="productname" required>
          </div>
          <div class="form-group">
            <label for="productCategory">Category:</label>
            
            <select class="form-control" id="category" name="productCategory" required>
              <option value="">Select Category</option>

              {%for obj in objs%}
              <option value="{{ obj.id }}">{{obj.category}}</option>
              {%endfor%}
            </select>

          </div>
          <div class="form-group">
            <label for="productPrice">Price:</label>
            <input type="number" step="0.01" class="form-control" id="price" name="productPrice" required>
          </div>
          
          <div class="form-group">
            <label for="productDescription">Description:</label>
            <textarea class="form-control" id="description" name="productdescription" required></textarea>
          </div>
          <!-- <button type="submit"  onclick="AddProduct()"  class="btn btn-primary d-flex ">Add Product</button> -->
          <div class="text-center">
            <button type="submit" onclick="AddProduct()" class="btn btn-primary">Add Product</button>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL END -->
<!-- left side blackbox -->
<div style="background-color: rgb(13, 12, 13); color: white; padding: 20px; position: absolute; left:0; top: 0; height: 93.5vh; width: 250px; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; border: 2px solid white; border-radius: 10px; overflow: hidden;" class="my-5">
  <div style="overflow-y: auto;">
      <h5 style="color: rgba(232, 235, 240, 0.557); font-family: Trirong, serif;">Add Product...</h5>
      <button type="button" class="btn ml-2 my-0" data-toggle="modal" data-target="#addProductModal" style="color: rgba(14, 207, 237, 0.792);">
          <i class="fas fa-plus"></i> Add
      </button>
      <h5 style="color: rgba(232, 235, 240, 0.557); font-family: Trirong, serif;">Update your product...</h5>
      <button type="button" class="btn ml-2 my-0" data-toggle="modal" data-target="#addProductModal" style="color: rgba(14, 207, 237, 0.792);">
          <i class="bi bi-pencil"></i> Edit
      </button>
  </div>
</div>
<!-- Blackbox code End -->
<!-- code  start for filter product -->
<div class="ml-3" style="position:relative;left:250px ;font-family: Trirong ;width: 80vh;">
      <h5 style="color: rgb(61, 59, 61);font-family: Trirong, serif; font-size: 18px;">Filter your product</h5>
      <div class="input-group mb-2">
        <select class="custom-select" id="productFilter">
          <option value="">Select Category</option>
          {%for obj in objs%}
            <option id="product-category" value="cat_{{ obj.id }}">{{ obj.category }}</option>
              {%endfor%}
          </select>
          <div class="input-group-append">
              <button class="btn btn-primary" type="button" onclick="applyFilter()">
                  <i class="bi bi-funnel"></i> Go
              </button>
          </div>
      </div>
  </div>
<!-- code end for filter -->

<!-- PRODUCT CARDS ARE HERE -->
<div class="col-10" style="position: relative; left: 250px;">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 " style="max-height: 500px; overflow-y: auto;">
    {% for item in products %}
      <div class="col">
        <div class="card shadow my-2">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/media/{{ item.product_pic }}" alt="Image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <div class="card-body">
            <p class="card-text" style="font-family: Trirong, serif">{{ item.desc|slice:":40" }}</p>
            <p class="card-text mt-0 " style="font-family: Trirong, serif"><b>Price: &#8377;</b>{{ item.price }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary mr-1">View</button>
                {% if user.is_retailer %}
                  <button type="button" class="btn btn-outline-warning btn-outline-secondary mx-1">Edit</button>
                {% endif %}
                {% if not user.is_retailer %}
                  <button type="button" class="btn btn-outline-success btn-outline-secondary ml-1">BUY NOW</button>
                {% endif %}
              </div>
              <small class="text-body-secondary" style="font-family: Trirong, serif">{{ item.datetime }}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endif %}

<!-- Add Bootstrap JS and jQuery scripts here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script> 
</body>
</html>

 <script>

  function updateClock() {
    const now = new Date();
    const options = { timeZone: 'Asia/Kolkata', hour12: true };
    const timeString = now.toLocaleTimeString('en-US', options);
    document.getElementById('indianTime').textContent = timeString;
  }
  // Update the clock every second
  setInterval(updateClock, 1000);
  </script>

  <script>


    function Cleardata(){

      const product_name=document.getElementById('name')
      const product_description=document.getElementById('description')
      const product_price=document.getElementById('price')
      const selectelement=document.getElementById('category')
      const selectedOption = selectelement.options[selectelement.selectedIndex];
      const categoryId = selectedOption.value;
      const fileInputElement = document.getElementById("picture");
      const selectedFile = fileInputElement.files[0];

      product_name.value = '';
      product_description.value = '';
      product_price.value = '';
      selectelement.selectedIndex = 0;  // Reset the selected index to the default option
      fileInputElement.value = null; 
      setTimeout(() => {
        location.reload();
    }, 2000);

    }

    function AddProduct(){
      
      const csrftoken='{{csrftoken}}'
      const user='{{user.email}}'
      const product_name=document.getElementById('name').value;
      const product_description=document.getElementById('description').value;
      const product_price=document.getElementById('price').value;
      const selectelement=document.getElementById('category')
      const selectedOption = selectelement.options[selectelement.selectedIndex];
      const categoryId = selectedOption.value;
      const fileInputElement = document.getElementById("picture");
      const selectedFile = fileInputElement.files[0];  
      const formData = new FormData();
   
   
      //  console.log(selectedFile)
      //  console.log(product_name)
      //  console.log(product_price)
      //  console.log(product_description)
      //  console.log(categoryId)
      //  console.log(user)


      formData.append('product_pic', selectedFile);
      formData.append('name', product_name);
      formData.append('desc', product_description);
      formData.append('price', product_price);
      formData.append('category', categoryId);
      formData.append('user', user);


fetch(`http://127.0.0.1:8000/retail/addproduct/`,{

       method:"POST",
       headers:{'X-CSRFToken':csrftoken,},
       body:formData,
       credential:'same-origin',
      
     }).then(response => {
       console.log(response.status)
       return response.json()
       //return get_blog_post()
    
     }).then((data)=>{
       //console.log(data)
       if (data.hasOwnProperty('message')){
        console.log(data['message'])
        const alert_btn = document.getElementById('alertbtn');
        const alert_message = document.getElementById('alertMessage');
        alert_btn.style.backgroundColor='rgb(43, 230, 143)'
        alert_btn.style.display = 'block';
        alert_message.innerHTML = data['message'];
        setTimeout(() => {
          location.reload();
      }, 2000);

      }

      //  if (data.hasOwnProperty('non_field_errors')){
      //     console.log(data['non_field_errors'][0])
      //     const alert_btn=document.getElementById('alertbtn')
      //     alert_btn.style.display='block'
      //     alert_btn.innerHTML=data['non_field_errors'][0]
      //  }


      if (data.hasOwnProperty('non_field_errors')) {
        const alert_btn = document.getElementById('alertbtn');
        const alert_message = document.getElementById('alertMessage');
        alert_btn.style.display = 'block';
        alert_btn.style.backgroundColor='rgb(245, 49, 75)'
        alert_message.innerHTML = data['non_field_errors'][0];
      }
      

     })

    }

</script>
  

</body>
</html>



 
